body {
    background-color: #f8f9fa;
}

.card {
    margin-top: 20px;
}

#risk-level {
    font-size: 1.5em;
}

.low-risk {
    color: green;
}

.medium-risk {
    color: orange;
}

.high-risk {
    color: red;
}